## Biblioteca

In [4]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import LSTM, Dense
import yfinance as yf
from modules import sequence

## Dataset

In [6]:
# DONWLOAD TO DATASET 

# symbol = "GC=F"

# start_date = "2005-01-01" 
# end_date = "2025-02-25"   

# data = yf.download(symbol, start=start_date, end=end_date)

# data.to_csv("gold_feb_25_GC=F.csv")

In [7]:
df = pd.read_csv("gold_feb_25_GC=F.csv", skiprows=[1, 2])
df = df.round(2)
df.head()

        Price  Close   High    Low   Open  Volume
0  2005-01-03  428.7  431.0  431.0  431.0       4
1  2005-01-04  428.5  428.5  428.5  428.5     108
2  2005-01-05  426.6  425.7  425.7  425.7       2
3  2005-01-06  421.0  421.0  421.0  421.0       1
4  2005-01-07  418.9  423.7  418.7  423.7       1

In [8]:
X = df.iloc[:, 1].values

## Building RNN LSTM

In [10]:
sequence.teste()

testando